
#header {
	padding: 0 0.5rem;

	background: #eee;
	border-bottom: 1px solid #ddd;

	@media all and @small-screen {
		padding: 0 0.5rem 0 0;
		body.show-nav & {
			position: fixed;
			top: 0; left: 0; right: 0;
			z-index: 2000;

			& + section {
				margin-top: calc(~"1px + "@header-height-sm);
			}
		}
	}

	a {
		text-decoration: none;

		&:hover .title {
			text-decoration: underline;
		}
	}

	a.logo-link {
		display: inline-block;
		width: @header-height;
		height: @header-height;
		vertical-align: top;
		padding: 0.5rem;

		@media all and @small-screen {
			width: @header-height-sm;
			height: @header-height-sm;

			&:hover {
				background-color: rgba(0,0,0,0.1);
			}
			&:active {
				background-color: rgba(0,0,0,0.2);
			}
		}
	}

	img.logo {
		width: @logo-size;
		height: @logo-size;
		vertical-align: middle;
		float: left;

		@media all and @small-screen {
			width: @logo-size-sm;
			height: @logo-size-sm;
		}
	}

	.title-wrapper {
		display: inline-block;
		padding: 0.5rem 1rem;
		// margin-left: @logo-size;
		@media all and @small-screen {
			padding: 0 0.5rem;
			line-height: @header-height-sm;
			h1 {
				line-height: @header-height-sm;
			}
		}
	}
	.title {
		font-size: @logo-size/2.6;
		line-height: @logo-size/2;
		color: black;
	}
	.subtitle {
		font-size: @logo-size/4.8;
		line-height: @logo-size/2;
		color: #777;

		@media all and @small-screen {
			display: none;
		}
	}

	.github-follow {
		float: right;
		line-height: @logo-size;

		@media all and @small-screen {
			padding: 0.5rem 0;
			line-height: @logo-size-sm;
			.text {
				display: none;
			}
		}

		@media all and @xsmall-screen {
			.btn-text {
				display: none;
			}
		}
	}
}
