
@btn-height: 2.4rem;

a {
	text-decoration: none;

	color: black;

	&:hover {
		color: @brand-primary;
	}
	&:active {
		color: darken(@brand-primary, 10%);
	}
}

.btn {
	display: inline-block;
	height: @btn-height;
	line-height: @btn-height;
	border: 1px solid transparent;
	background: transparent;
	padding: 0 0.5rem;
	cursor: pointer;
	text-decoration: none;
	.border-radius(3px);

	.icon {
		font-size: @btn-height*0.6;
		vertical-align: sub;
	}

	&.btn-primary {
		background-color: @brand-primary;
		color: white;

		&:hover {
			background-color: darken(@brand-primary, 5%);
		}
		&:active {
			background-color: darken(@brand-primary, 10%);
		}
	}
}