
@rem: 16px;

@font-size-base: @rem;

@fonts-path: '/public/assets/fonts';


// Colors

@brand-primary: royalblue;
@brand-secondary: goldenrod;
@brand-info: lightsteelblue;
@brand-warning: goldenrod;
@brand-error: firebrick;

@brand-danger: @brand-error;